# A Visualization of The San Francisco Giant's Statistics over the Years

In this notebook, we will be using seaborn and plotly to visualize some of the stats for the San Francisco Giants. The data is stored in a local SQLite database and we will be using the python package "sqlite3" to query the data. Lets begin!

In [4]:
import pandas as pd
import numpy as np
import sqlite3
conn = sqlite3.connect('/Users/robinphetsavong/Documents/robinphetsa.github.io/data_science/data-projects/Projects/Baseball/baseball/database.sqlite')
c = conn.cursor()

We'll run a query to get the number of wins per year for all teams in SF (in this case, the Giants starting in 1958)

In [6]:
giants_win_df = pd.read_sql_query("SELECT Year, w AS 'Wins' FROM team WHERE team_id = 'SFN';", conn)

In [7]:
giants_win_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 2 columns):
year    58 non-null int64
Wins    58 non-null int64
dtypes: int64(2)
memory usage: 1000.0 bytes

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go

In [23]:

data = [
    go.Bar(
        x=giants_win_df['year'], # assign x as the dataframe column 'x'
        y=giants_win_df['Wins'],
                marker=dict(            
            color="rgb(255, 153, 51)")
    )
]

layout = go.Layout(
    title = "SF Giants Wins Through the Years",
        xaxis = dict(title = 'Year'),
        yaxis = dict(title = 'Wins')
    )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

### Now we run a query to get the number of Wins and Losses for each year

In [24]:
wins_loss_df = pd.read_sql_query("SELECT Year AS 'Year', w AS 'Wins', l AS 'Losses' FROM team WHERE team_id = 'SFN';", conn)

In [25]:
wins_loss_df

    Year  Wins  Losses
0   1958    80      74
1   1959    83      71
2   1960    79      75
3   1961    85      69
4   1962   103      62
5   1963    88      74
6   1964    90      72
7   1965    95      67
8   1966    93      68
9   1967    91      71
10  1968    88      74
11  1969    90      72
12  1970    86      76
13  1971    90      72
14  1972    69      86
15  1973    88      74
16  1974    72      90
17  1975    80      81
18  1976    74      88
19  1977    75      87
20  1978    89      73
21  1979    71      91
22  1980    75      86
23  1981    56      55
24  1982    87      75
25  1983    79      83
26  1984    66      96
27  1985    62     100
28  1986    83      79
29  1987    90      72
30  1988    83      79
31  1989    92      70
32  1990    85      77
33  1991    75      87
34  1992    72      90
35  1993   103      59
36  1994    55      60
37  1995    67      77
38  1996    68      94
39  1997    90      72
40  1998    89      74
41  1999    86      76
42  2000    97      65
43  2001    90      72
44  2002    95      66
45  2003   100      61
46  2004    91      71
47  2005    75      87
48  2006    76      85
49  2007    71      91
50  2008    72      90
51  2009    88      74
52  2010    92      70
53  2011    86      76
54  2012    94      68
55  2013    76      86
56  2014    88      74
57  2015    84      78

In [32]:
data = [
    go.Bar(
        x=wins_loss_df['Year'],
        y=wins_loss_df['Wins'],
        opacity=0.75,
        name = "Wins",
        marker=dict(            
            color="rgb(255, 153, 51)")
    ),
    go.Bar(
        x=wins_loss_df['Year'],
        y=wins_loss_df['Losses'],
        opacity=0.75,
        name = "Losses",
        marker=dict(            
            color="rgb(0, 0, 0)")
    )

]

layout = go.Layout(
    barmode='stack',
    title='SF Giants Wins and Losses throughout the Years',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

# League ERA vs SF Giants team ERA by year

Now lets compare how well the Giants' team ERA (Earned Run Average) stacks up against the league average (Both NL and AL) for each season. Should be interesting!

First we begin by running a query for the average ERA from the entire league for 1958 and beyond. Then we run another SQL query to get the Giants' ERA.

Finally we append the two dataframes together.

In [34]:
league_era_df = pd.read_sql_query("SELECT year,AVG(era) AS League_ERA_Avg FROM team WHERE year>=1958 Group by Year;", conn)
sf_era_df = pd.read_sql_query("SELECT era AS 'SF ERA' FROM team WHERE team_id = 'SFN';", conn)

In [35]:
league_era_df

    year  League_ERA_Avg
0   1958        3.860000
1   1959        3.908125
2   1960        3.818125
3   1961        4.028889
4   1962        3.958000
5   1963        3.460000
6   1964        3.584000
7   1965        3.501000
8   1966        3.522000
9   1967        3.305500
10  1968        2.983000
11  1969        3.610833
12  1970        3.882083
13  1971        3.463750
14  1972        3.258750
15  1973        3.739583
16  1974        3.617917
17  1975        3.700833
18  1976        3.510833
19  1977        3.991538
20  1978        3.676923
21  1979        3.992692
22  1980        3.835769
23  1981        3.582308
24  1982        3.856154
25  1983        3.861538
26  1984        3.806154
27  1985        3.893077
28  1986        3.964231
29  1987        4.284231
30  1988        3.728462
31  1989        3.705769
32  1990        3.854615
33  1991        3.904615
34  1992        3.738846
35  1993        4.182143
36  1994        4.508571
37  1995        4.447500
38  1996        4.615714
39  1997        4.391429
40  1998        4.433667
41  1999        4.704000
42  2000        4.762333
43  2001        4.413000
44  2002        4.272000
45  2003        4.395667
46  2004        4.458333
47  2005        4.284667
48  2006        4.521667
49  2007        4.462667
50  2008        4.316667
51  2009        4.314000
52  2010        4.073333
53  2011        3.936667
54  2012        4.009333
55  2013        3.863333
56  2014        3.738000
57  2015        3.956333

In [36]:
era_df = pd.concat([league_era_df, sf_era_df], axis=1)

In [37]:
era_df

    year  League_ERA_Avg  SF ERA
0   1958        3.860000    3.98
1   1959        3.908125    3.47
2   1960        3.818125    3.44
3   1961        4.028889    3.77
4   1962        3.958000    3.79
5   1963        3.460000    3.35
6   1964        3.584000    3.19
7   1965        3.501000    3.20
8   1966        3.522000    3.24
9   1967        3.305500    2.92
10  1968        2.983000    2.71
11  1969        3.610833    3.26
12  1970        3.882083    4.50
13  1971        3.463750    3.32
14  1972        3.258750    3.69
15  1973        3.739583    3.79
16  1974        3.617917    3.78
17  1975        3.700833    3.74
18  1976        3.510833    3.53
19  1977        3.991538    3.75
20  1978        3.676923    3.30
21  1979        3.992692    4.16
22  1980        3.835769    3.46
23  1981        3.582308    3.28
24  1982        3.856154    3.64
25  1983        3.861538    3.70
26  1984        3.806154    4.39
27  1985        3.893077    3.61
28  1986        3.964231    3.33
29  1987        4.284231    3.68
30  1988        3.728462    3.39
31  1989        3.705769    3.30
32  1990        3.854615    4.08
33  1991        3.904615    4.03
34  1992        3.738846    3.61
35  1993        4.182143    3.61
36  1994        4.508571    3.99
37  1995        4.447500    4.86
38  1996        4.615714    4.72
39  1997        4.391429    4.41
40  1998        4.433667    4.19
41  1999        4.704000    4.71
42  2000        4.762333    4.21
43  2001        4.413000    4.18
44  2002        4.272000    3.54
45  2003        4.395667    3.73
46  2004        4.458333    4.29
47  2005        4.284667    4.33
48  2006        4.521667    4.63
49  2007        4.462667    4.19
50  2008        4.316667    4.38
51  2009        4.314000    3.55
52  2010        4.073333    3.36
53  2011        3.936667    3.20
54  2012        4.009333    3.68
55  2013        3.863333    4.00
56  2014        3.738000    3.50
57  2015        3.956333    3.72

In [40]:
data = [
    go.Bar(
        x=era_df['year'],
        y=era_df['SF ERA'],
        opacity=0.75,
        name = "SF ERA",
        marker=dict(            
            color="rgb(255, 153, 51)")
    ),
    go.Bar(
        x=era_df['year'],
        y=era_df['League_ERA_Avg'],
        opacity=0.75,
        name = "League ERA",
        marker=dict(            
            color="rgb(0, 0, 0)")
    )

]

layout = go.Layout(
    barmode='grouped',
    title='SF Giants Wins and Losses throughout the Years',
        xaxis = dict(title = 'Year'),
        yaxis = dict(title = 'Earned Run Average')
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig)

To be continued